<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <div class="Container100 Responsive100 NoIndent">
        </div>  
        <div class="Container100">

            
            <div class="Container50 Responsive50">
                <div class="Card ">

                    <div class="Container100">
                        <div class="Container40">
                            <span class="Fs16 FontVoltRegular  DispBlock">Day Open Status:</span>
                        </div>
                        <div class="Container60">
                            YES
                        </div>

                    </div>
                    <div class="Container100">
                        <div class="Container40">
                            <span class="Fs16 FontVoltRegular DispBlock">Server Date Time :</span>
                        </div>
                        <div class="Container60">
                            <span class="Fs16 FontVoltRegular "><p:clock pattern="dd-MMM-yyyy hh:mm:ss" mode="server" /></span>
                        </div>
                    </div>
                    <div class="Container100">
                        <div class="Container40">
                            <span class="Fs16 FontVoltRegular DispBlock">System Date :</span>
                        </div>
                        <div class="Container60">

                        </div>

                    </div>
                    <div class="EmptyBox10"></div>
                </div>
            </div>

        </div>
        <div class="Container100">
            <div class="EmptyBox100"></div>
            <div class="EmptyBox100"></div>
            <div class="EmptyBox100"></div>
        </div>

    </ui:define>

</ui:composition>