<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/fullpage_temp.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">

        <!-- start search form section -->
        <h:form id="emp_setup_frm">
            <div class="Container100 ui-fluid">
                <div class="Card">
                    <div class="CardTopic">Employee ADD</div>
                    <div class="Separator"></div>
                    <div class="Container50 Responsive100">
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                            <p:outputLabel for="empName" value="Employee Name"/>
                            <p:inputText id="empName" value="#{employeeController.employeeModel.empName}" placeholder="Employee Name" required="true" requiredMessage="Must be not empty!" />

                            <p:outputLabel for="designation" value="Designation"/>
                            <p:inputText id="designation" value="#{employeeController.employeeModel.designation}" required="true" placeholder="#{prompts.card_no_lbl}" />

                            <p:outputLabel for="gender" value="Gender"/>
                            <p:selectOneRadio id="gender" value="#{employeeController.employeeModel.gender}" required="true">
                                <f:selectItem itemLabel="Male" itemValue="M" />
                                <f:selectItem itemLabel="Female" itemValue="F" />
                                <f:selectItem itemLabel="Others" itemValue="O" />
                            </p:selectOneRadio>

                            <p:outputLabel for="dateOfBirth" value="Date of Birth"/>
                            <p:calendar id="dateOfBirth" value="#{employeeController.dateOfBirth}"  />

                        </p:panelGrid>
                    </div>

                    <div class="Container50 Responsive100">
                        <p:panelGrid columns="2" columnClasses="ui-grid-col-4,ui-grid-col-8" layout="grid" styleClass="ui-panelgrid-blank" style="border:0px none; background-color:transparent;">
                            <p:outputLabel for="age" value="Age"/>
                            <p:inputNumber id="age" value="#{employeeController.employeeModel.age}"  decimalPlaces="0" placeholder="#{prompts.card_no_lbl}" maxlength="16"/>

                            <p:outputLabel for="file" value="Employee Pictuer"/>
                            <p:fileUpload id="file" value="#{employeeController.file}" mode="simple" skinSimple="true"/>

                            <p:outputLabel for="note" value="Note"/>
                            <p:inputTextarea id="note" value="#{employeeController.employeeModel.note}"  required="true" placeholder="#{prompts.card_no_lbl}" />
                        </p:panelGrid>
                    </div>
                </div>
            </div>
            <center>
                <p:messages id="msg" showDetail="true" showSummary="true" closable="true"/>
                <p:commandButton value="Add Employee" update="emp_setup_frm,msg,employee_tbl_id" actionListener="#{employeeController.employeeAdd}"  icon="fa fa-plus "/>
            </center>
            <!-- end search form section -->

            <!-- start data table section -->
            <div class="Container100">
                <p:dataTable id="employee_tbl_id" var="emp" value="#{employeeController.empList}" resizableColumns="true"
                             rows="15" paginator="true" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="15,30,40,50" emptyMessage="No user found" reflow="true">

                    <f:facet name="header">
                        Employee List
                    </f:facet>
                    
                    <p:column colspan="2" headerText="Employee Id" >
                        <h:outputText value="#{emp.empId}" />
                    </p:column>

                    <p:column colspan="2" headerText="Employee Name">
                        <h:outputText value="#{emp.empName}" />
                    </p:column>

                    <p:column headerText="Designation" >
                        <h:outputText value="#{emp.designation}" />
                    </p:column>

                    <p:column colspan="2" headerText="Gender">
                        <h:outputText value="#{emp.gender}" />
                    </p:column>

                    <p:column headerText="Date of Birth">
                        <h:outputText value="#{emp.dateOfBirth}" >
                            <f:convertDateTime pattern="dd-MMM-yyyy" />
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Age">
                        <h:outputText value="#{emp.age}">
                        </h:outputText>
                    </p:column>

                    <p:column  headerText="Note">
                        <h:outputText value="#{emp.note}"/>
                    </p:column>

                    <p:column colspan="2" headerText="Action" >
                        <center>
                            <p:commandButton id="edit" icon="fa fa-trash" action="#{employeeController.employeeDelete(emp)}" update="employee_tbl_id"  style="height: 26px;" >
                                <p:tooltip showEffect="clip" hideEffect="explode" value="Delete Item" for="edit" />
                            </p:commandButton>
                        </center>
                    </p:column>
                </p:dataTable>

            </div>
        </h:form>
        <!-- end data table section -->
    </ui:define>
</ui:composition>
